#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// スクロール量変更の定義を追記
#define ZMK_POINTING_DEFAULT_SCRL_VAL 120

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
    tapping-term-ms = <200>;
};

&trackball {
    automouse-layer = <2>;
    scroll-layers = <3>;
};

 / {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        muhennkann {
            bindings = <&to_layer_0 INT_MUHENKAN>;
            key
